* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    font-weight: normal;
    font-size: larger;
}


html {
    background: url("../images/back.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

.grid-container {
    display: grid;
    grid-gap: 10px;

}

.grid-item {

}

.header {
    text-align: center;
    color: yellow;
    grid-column: 1 / span 2;
    grid-row: 1;
}

.menu {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.intro {
    grid-column: 1 / span 2;
    grid-row: 3;
    padding: 6px 80px;
    background-color: rgba(51, 51, 51, 0.5);
}

.vraag {
    padding: 6px 80px;
    grid-column: 1 / span 2;
    grid-row: 4;
}

.select {
    padding: 6px 80px;
    grid-column: 1 ;
    grid-row: 5;
}

.sqlreturn {
    padding: 6px;
    padding-right: 80px;
    grid-column: 2;
    grid-row: 5;
}

.rating {
    padding: 6px 80px;
    grid-column: 1 / span 2;
    grid-row: 6;
}

.rating_tekst {
    height: 20px;
}

@media only screen and (max-width: 900px) {

    .intro {
        padding: 6px 6px;
    }

    .vraag {
        padding: 6px 6px;

    }

    .select {
        padding: 6px 6px;
        grid-column: 1 / span 2;
        grid-row: 5;
    }

    .sqlreturn {
        padding: 6px;
        padding-right: 6px;
        grid-column: 1 / span 2;
        grid-row: 6;
    }

    .rating {
        padding: 6px 6px;
        grid-column: 1 / span 2;
        grid-row: 7;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    padding-left: 80px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 6px 30px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

li a.actief {
    background-color: #0075ac;
}

textarea {
    width: 100%;
    font-size: large;
    padding:2px;
}

button {
    width: 100px;
    border-radius: 25px;
    height: 50px;
}

.ster {
    width: 60px;
    height: 60px;
}

.volgende_vorige {
    float: right;
}

.verberg {
    display: none;
}

.opvulling{
    display: inline-block;
    width: 100px;
    height: 20px;
}

#DB_antwoord {
    display: inline-block;
    min-width: 100%;
    max-width: 60vw;
    min-height: 150px;
    max-height: 300px;
    background-color: white;
    color: black;
    font-size: large;
    overflow: scroll;
    padding:2px;
}

tr:nth-child(even)
{
    background: #CCC;
}
tr:nth-child(odd)
{
    background: #FFF;
}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    background-color: #0075ac;
    color: white;
}
td, th {
    border: 1px solid #ddd;
    padding: 8px;
}
.tableDiv {
    max-height: 35px;
    display: inline-block;
    white-space: nowrap;
}
